<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<a href="/">All</a>
<a href="/?category=Furniture">Furniture</a>
<a href="/?category=Alcohol">Alcohol</a>
<a href="/?category=Toiletries">Toiletries</a>
<a href="/?category=Shoes">Shoes</a>
<a href="/?category=Food">Food</a>
<a href="/?category=Jewelry">Jewelry</a>


<table>
    <tr>
        <td>Name</td>
        <td>Email</td>
        <td>Date</td>
        <td>Credit Card</td>
        <td>CVV</td>
        <td>Category</td>
    </tr>
    {{#purchases}}

    <tr>
        {{#customer}}
        <td>{{name}}</td>
        <td>{{email}}</td>
        {{/customer}}
        <td>{{date}}</td>
        <td>{{creditCard}}</td>
        <td>{{cvv}}</td>
        <td>{{category}}</td>
    </tr>

    {{/purchases}}
</table>
</body>
</html>